# |--------------------| Extenciones |--------------------|

*.mp4

*.jpg

*.png

*.gif

# |--------------------| General |------------------------|

*

!.gitignore

!*/

*/**

!*/src/

!*/src/**

!*/Cargo.toml

!*/build.rs
